---
import { getCollection } from "astro:content";
import { getPagePropertyText } from "notro/src/utils/notion";

const footerPages = await getCollection("database", ({ data }) => {
  const type = getPagePropertyText(data.properties, "Type");
  return type?.includes("Footer");
});
---

{
  footerPages.length > 0 ? (
    <footer>
      <div>
        <ul>
          {footerPages.map(({ data }) => (
            <li>
              <a href={getPagePropertyText(data.properties, "Slug")}>
                {getPagePropertyText(data.properties, "Page")}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </footer>
  ) : null
}
