---
import { getCollection } from "astro:content";
import { getPagePropertyText } from "notro/src/utils/notion";

const headerPages = await getCollection("database", ({ data }) => {
  const type = getPagePropertyText(data.properties, "Type");
  return type?.includes("Header");
});
---

{
  headerPages.length > 0 ? (
    <header>
      <nav>
        <ul>
          {headerPages.map(({ data }) => (
            <li>
              <a href={getPagePropertyText(data.properties, "Slug")}>
                {getPagePropertyText(data.properties, "Page")}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    </header>
  ) : null
}
