---
// import { getCollection } from "astro:content";
// import { NotionRenderer } from "notro";

// const collection = await getCollection("posts");
const { entry } = Astro.props;
---

<html>
  <body>
    <!--<NotionRenderer blocks={entry[0].data.blocks} />-->
  </body>
</html>
