---
import { getCollection, render } from "astro:content";
import {
  getPlainText,
  NotionImage,
  NotionH1,
  NotionH2,
  NotionH3,
  NotionBlockquote,
  NotionTable,
} from "notro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const collection = await getCollection("pages");
  return collection.map((entry) => {
    const slug = getPlainText(entry.data.properties.Slug) || entry.id;
    return {
      params: { slug: slug !== "index" ? slug : undefined },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={getPlainText(entry.data.properties.Page) ?? entry.id}>
  <main class="nt-page" id={entry.id}>
    <Content
      components={{
        img: NotionImage,
        h1: NotionH1,
        h2: NotionH2,
        h3: NotionH3,
        blockquote: NotionBlockquote,
        table: NotionTable,
      }}
    />
  </main>
</Layout>
