---
import { getPagePropertyText } from "notro/src/utils/notion";
import { getCollection } from "astro:content";

import NotionCustomBlocks from "notro/src/components/NotionCustomBlocks.astro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const collection = await getCollection("database");
  return collection.map((entry) => {
    const slug = getPagePropertyText(entry.data.properties, "Slug") || entry.id;
    return {
      params: {
        slug: slug !== "index" ? slug : undefined,
      },
      props: {
        entry: entry,
      },
    };
  });
}

const collection = await getCollection("database");

const linkToPages: Record<string, { url?: string; title?: string }> =
  Object.fromEntries(
    collection.map((entry) => [
      entry.id,
      {
        url: getPagePropertyText(entry.data.properties, "Slug"),
        title: getPagePropertyText(entry.data.properties, "Page"),
      },
    ]),
  );

const { entry } = Astro.props;

const options = {
  optimizeRemoteImage: true,
  useRawHTML: true,
  useCalloutContainer: true,
};
---

<Layout title={entry.id}>
  <main class="nt-page" id={"page.id"}>
    <NotionCustomBlocks
      blocks={entry.data.blocks}
      linkToPages={linkToPages}
      options={options}
    />
  </main>
</Layout>
